body {
    background-color: #f6f6f6;

}

main {
    height: 70vh;
    background-image: conic-gradient(beige);
}

footer {
    margin-top: 10vh;

    padding-top: 2vh;

}

.logo {
    opacity: 1;
    text-transform: lowercase;
}

.logo::first-letter {
    text-transform: uppercase;
}

.logo:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}

#dropdown-menu {
    text-align: left;
    text-decoration: none;
    padding: 30px;
}

.bg-jumpers {
    background-color: black !important;

}

#alink {
    color: white;
    text-decoration: none;
    font-size: 14px;

}

a:hover {
    text-decoration: none;
    color: rgb(158, 190, 190);
    background-color: #2F3336;
}

.title {
    padding: 20px;
}
#input-group
{
    padding: 20px;
}
#zegar {
    border-top: 2px solid black;
    font-size: 30px;
    float: left;
}

#podpis {
    font-size: 30px;
    border-top: 2px solid black;


}