body{
    background-color: whitesmoke;
}
main {
    min-height: 90vh;
    background: whitesmoke;
    padding:30px;
}

footer {
    margin-top: 2vh;
    border-top: 2px solid black;
    padding-top: 2vh;
}

.logo {
    opacity: 1;
    text-transform: lowercase;
}

.logo::first-letter {
    text-transform: uppercase;
}

.logo:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
}
#dropdown-menu
{
    text-align: left;
    text-decoration: none;
}
.bg-jumpers {
    background-color: black!important;

}
a {
    color: white;
padding-left: 0px;
 font-size:12px;

}

a:hover {
    text-decoration: none;
    color: rgb(158, 190, 190);
    background-color:#2F3336 ;
}
.title{
    padding:20px;
}
